.main_box {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  margin-top: 30px;
  padding: 10px;
}
.title {
  color: rgb(82, 69, 22);
}
.txt {
  line-height: 35px;
  background-color: rgb(255, 250, 240);
  padding: 40px;
  border-radius: 10px;
}
