.prod_box {
  min-height: calc(100vh - 190px);
}
.product_box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 250px;
}

.text_box h4 {
  margin: 5px;
}
.text_box p {
  margin: 5px;
}
