form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

input{
    width: 30%;
    height: 35px;
    padding: 10px;
}
.login{
    width: 15%;
    height: 35px;
}
p{
    font-size: 14px;
    color: red;
}